@font-face {
  font-family: 'TT Lakes Condensed Regular';
  src: url('../fonts/TTLakesCondensed-Regular.eot');
  src: url('../fonts/TTLakesCondensed-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakesCondensed-Regular.woff') format('woff'),
  url('../fonts/TTLakesCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  }
@font-face {
  font-family: 'TT Lakes Condensed ExtraBold';
  src: url('../fonts/TTLakesCondensed-ExtraBold.eot');
  src: url('../fonts/TTLakesCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakesCondensed-ExtraBold.woff') format('woff'),
  url('../fonts/TTLakesCondensed-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  }
  @font-face {
    font-family: 'TT Lakes Condensed Demi';
    src:url('../fonts/TTLakesCondensed-DemiBold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    }
